<header id="deskhead">
    <div class="head-wrap">
        <div id="deskhead-logo" class="head-elem">
            <img src="../resources/pixel-bw.png" alt="logo"/>
        </div>
        <a href="/">
            <div class="head-elem hl-wrap">
                <span class="hl-decoration">JAKOB.</span>
                <span class="hl-decoration highlight">WTF</span>
            </div>
        </a>
    </div>
    <div class="head-wrap head-wrap-right">
        <a href="/resources.html">
            <div id="dh-resources" class="head-elem">RESOURCES</div>
        </a>
        <a href="/about.html">
        <div id="dh-about" class="head-elem">ABOUT</div>
        </a>
        <div class="head-elem"><span id="dh-en" class="len-select">EN</span> / <span id="dh-de" class="len-select">DE</span></div>
        <div class="head-elem">
            <a class="h-icon" href="https://twitter.com/jakobabf"><img src="../resources/t.png" alt="twitter-link"/></a>
            <a class="h-icon" href="#"><img src="../resources/b.png" alt="bitcoin-tipping-link"/></a>
        </div>
    </div>
</header>
<header id="mobhead">
    <div>
        <svg id="sidepanel-bars-uncollapse" width="65px" height="65px" focusable="false" class="sidepanel-icon"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor"
                  d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
        </svg>
    </div>
    <div class="head-elem">
        <a href="/" class="hl-wrap">
            <span class="hl-decoration">JAKOB.</span>
            <span class="hl-decoration highlight">WTF</span>
        </a>
    </div>
</header>