<meta name="title" content="JAKOB.WTF - Articles on Nutrition, Bitcoin and Psychology">
<meta name="description" content="On this website I publish resources and articles that I find interesting about Bitcoin, Nutrition and Psychology">
<meta name="keywords" content="Nutrition,Weston Price,Sigmund Freud,Psychology,Bitcoin">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English,German">
<meta name="author" content="Jakob Abfalter">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">