<meta name="title" content="JAKOB.WTF - Articles on Nutrition, Bitcoin, Health and Psychology">
<meta name="description" content="Interesting resources and articles about Bitcoin, Nutrition, Health and Psychology">
<meta name="keywords" content="Nutrition,Weston Price,Sigmund Freud,Psychology,Bitcoin">
<meta name="robots" content="index, follow">
<meta property="og:title" content="JAKOB.WTF - Articles on Nutrition, Bitcoin and Psychology">
<meta property="og:description" content="Interesting resources and articles about Bitcoin, Nutrition and Psychology">
<!--<meta property="og:image" content="/WestonPrice.jpg">-->
<meta property="og:url" content="https://jakob.wtf">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English,German">
<meta name="author" content="Jakob Abfalter">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">