<title>JAKOB.WTF - An Analogy Between Bitcoin and Chess</title>
<meta name="title" content="JAKOB.WTF - An Analogy Between Bitcoin and Chess">
<meta name="description" content="Why can we be sure that Bitcoin's protocol rules are not changes? By looking at the game chess as an analogy, we can answer this question.">
<meta name="keywords" content="Nutrition,Weston Price,Psychology,Bitcoin">
<meta property="og:title" content="JAKOB.WTF - An Analogy Between Bitcoin and Chess">
<meta property="og:description" content="Why can we be sure that Bitcoin's protocol rules are not changes? By looking at the game chess as an analogy, we can answer this question.">
<meta property="og:image" content="https://statics.jakob.wtf/BitcoinChess.jpg">
<meta property="og:url" content="https://jakob.wtf/article/analogy-between-bitcoin-and-chess">