<title>JAKOB.WTF - Bitcoin the hero</title>
<meta name="title" content="JAKOB.WTF - Bitcoin the hero">
<meta name="description" content="Is Bitcoin political? What fundamental motivations drive Bitcoin adoption? An essay on Bitcoins fight for equality before the money.">
<meta name="keywords" content="Bitcoin,Politics,Economics,Carl Jung">
<meta property="og:title" content="JAKOB.WTF - Bitcoin the hero">
<meta property="og:description" content="Is Bitcoin political? What fundamental motivations drive Bitcoin adoption? An essay on Bitcoins fight for equality before the money.">
<meta property="og:image" content="https://statics.jakob.wtf/BitcoinHero.jpg">
<meta property="og:url" content="https://jakob.wtf/article/bitcoin-the-hero">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@JakobAbf" />
<meta name="twitter:title" content="JAKOB.WTF - Bitcoin the hero" />
<meta name="twitter:description" content="Is Bitcoin political? What fundamental motivations drive Bitcoin adoption? An essay on Bitcoins fight for equality before the money." />
<meta name="twitter:image" content="https://statics.jakob.wtf/BitcoinHero.jpg" />
