<title>JAKOB.WTF - Articles on Nutrition, Bitcoin and Psychology</title>
<meta name="title" content="JAKOB.WTF - Articles on Nutrition, Bitcoin, Health and Psychology">
<meta name="description" content="Interesting resources and articles about Bitcoin, Nutrition, Health and Psychology">
<meta name="keywords" content="Nutrition,Weston Price,Psychology,Bitcoin">
<meta property="og:title" content="JAKOB.WTF - Articles on Nutrition, Bitcoin and Psychology">
<meta property="og:description" content="Interesting resources and articles about Bitcoin, Nutrition and Psychology">
<meta property="og:image" content="https://statics.jakob.wtf/WestonPrice.jpg">
<meta property="og:url" content="https://jakob.wtf">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@JakobAbf" />
<meta name="twitter:title" content="JAKOB.WTF - Articles on Nutrition, Bitcoin, Health and Psychology" />
<meta name="twitter:description" content="Interesting resources and articles about Bitcoin, Nutrition, Health and Psychology" />
<meta name="twitter:image" content="https://statics.jakob.wtf/WestonPrice.jpg" />