<title>JAKOB.WTF - The Mystery of Psychosomatic Symptoms</title>
<meta name="title" content="JAKOB.WTF - The Mystery of Psychosomatic Symptoms">
<meta name="description" content="A small essay about my personal experiences with psychosomatic problems">
<meta name="keywords" content="Psychology,Psychosomatic,Mind-Body-Connection">
<meta property="og:title" content="JAKOB.WTF - The Mystery of Psychosomatic Symptoms">
<meta property="og:description" content="A small essay about my personal experiences with psychosomatic problems">
<meta property="og:image" content="https://statics.jakob.wtf/StableBitcoin.jpg">
<meta property="og:url" content="https://jakob.wtf/article/mystery-of-psychosomatic-symptoms">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@JakobAbf" />
<meta name="twitter:title" content="JAKOB.WTF - The Mystery of Psychosomatic Symptoms" />
<meta name="twitter:description" content="A small essay about my personal experiences with psychosomatic problems" />
<meta name="twitter:image" content="https://statics.jakob.wtf/StableBitcoin.jpg" />
