<title>JAKOB.WTF - Towards a More "Stable" Bitcoin</title>
<meta name="title" content="JAKOB.WTF - Towards a More Stable Bitcoin">
<meta name="description" content="This essay is a direct response to Pierre Rochard's arguments in the Gold vs. Bitcoin Soho Forum Debate.">
<meta name="keywords" content="Bitcoin,Economics,Austrian Economics,Hard Money,Mises,Gold,Soho Forum">
<meta property="og:title" content="JAKOB.WTF - Towards a More Stable Bitcoin">
<meta property="og:description" content="This essay is a direct response to Pierre Rochard's arguments in the Gold vs. Bitcoin Soho Forum Debate.">
<meta property="og:image" content="https://statics.jakob.wtf/StableBitcoin.jpg">
<meta property="og:url" content="https://jakob.wtf/article/towards-a-more-stable-bitcoin">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@JakobAbf" />
<meta name="twitter:title" content="JAKOB.WTF - Towards a More Stable Bitcoin" />
<meta name="twitter:description" content="This essay is a direct response to Pierre Rochard's arguments in the Gold vs. Bitcoin Soho Forum Debate." />
<meta name="twitter:image" content="https://statics.jakob.wtf/StableBitcoin.jpg" />
