<title>JAKOB.WTF - The Weston Price Study of Traditional Diets</title>
<meta name="title" content="JAKOB.WTF - The Weston Price Study of Traditional Diets">
<meta name="description" content="Weston Price was a pioneer in nutrition research. His study on primitive diets, on which he worked for 20 years, was published in 1939 and is still highly relevant to today's research on nutrition and physical health.">
<meta name="keywords" content="Nutrition,Weston Price,Psychology,Bitcoin">
<meta property="og:title" content="JAKOB.WTF - The Weston Price Study of Traditional Diets">
<meta property="og:description" content="Weston Price was a pioneer in nutrition research. His study on primitive diets, on which he worked for 20 years, was published in 1939 and is still highly relevant to today's research on nutrition and physical health.">
<meta property="og:image" content="https://statics.jakob.wtf/WestonPrice.jpg">
<meta property="og:url" content="https://jakob.wtf/article/weston-price-traditional-diets">