<nav id="mobile-sidepanel" class="collapsed">
    <ul class="sidepanel-cless">
        <li class="cell">
            <a class="side-link" href="/resources">RESOURCES</a>
        </li>
        <li class="cell">
            <a class="side-link" href="/articles">ARTICLES</a>
        </li>
        <li class="cell">
            EN/DE
        </li>
        <li class="head-elem">
            <a class="h-icon" href="https://twitter.com/jakobabf"><img src="../resources/t.png" alt="twitter-link"/></a>
            <a class="h-icon" href="#"><img src="../resources/b.png" alt="bitcoin-tipping-link"/></a>
        </li>
    </ul>
</nav>