<nav id="mobile-sidepanel" class="collapsed">
    <ul class="sidepanel-cless">
        <li class="cell">
            <a class="side-link" href="/resources.html">
                <div class="cell-div">
                    <span id="mb-resources"></span>
                </div>
            </a>
        </li>
        <li class="cell">
            <a class="side-link" href="/about.html">
                <div class="cell-div">
                    <span id="mb-about"></span>
                </div>
            </a>
        </li>
        <li class="cell">
            <div class="cell-div">
                <span><span id="mb-en" class="len-select">EN</span>&nbsp;/&nbsp;<span id="mb-de" class="len-select">DE</span></span>
            </div>
        </li>
        <li class="cell">
            <a class="side-link" href="https://twitter.com/jakobabf">
                <div class="cell-div">
                    <span>TWITTER</span>
                </div>
            </a>
        </li>
        <li class="cell">
            <a class="side-link" href="https://tippin.me/@JakobAbf">
                <div class="cell-div">
                    <span id="mb-tip"></span>
                </div>
            </a>
        </li>

    </ul>
</nav>