<nav id="mobile-sidepanel" class="collapsed">
    <ul class="sidepanel-cless">
        <li class="cell">
            <a class="side-link" href="/resources">
                <div class="cell-div">
                    <span>RESOURCES</span>
                </div>
            </a>
        </li>
        <li class="cell">
            <a class="side-link" href="/about">
                <div class="cell-div">
                    <span>ABOUT</span>
                </div>
            </a>
        </li>
        <li class="cell">
            <a class="side-link" href="https://twitter.com/jakobabf">
                <div class="cell-div">
                    <span>EN  /  DE</span>
                </div>
            </a>
        </li>
        <li class="cell">
            <a class="side-link" href="https://twitter.com/jakobabf">
                <div class="cell-div">
                    <span>TWITTER</span><img class="mobile-icon" src="../resources/t.png" alt="twitter-link"/>
                </div>
            </a>
        </li>
        <li class="cell">
            <a class="side-link" href="https://twitter.com/jakobabf">
                <div class="cell-div">
                    <span>TIP SATS</span><img class="mobile-icon" src="../resources/b.png" alt="bitcoin-tipping-link"/>
                </div>
            </a>
        </li>

    </ul>
</nav>