@import "variables";

html {
  height: 100%;
  width: 100%;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  -webkit-font-smoothing: antialiased;
  color: $font-color-light;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: $color-bg;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: $font-color-light;
}

#deskhead {
  height: 100px;
  width: 100%;
  background-color: $color-bg-light;
  display: flex;
  justify-content: center;
  align-content: center;
}

.head-elem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

.head-wrap {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.head-wrap-right {
  justify-content: space-evenly;
}

.h-icon {
  margin: 10%;
}

.hl-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  align-content: center;
}

#mobhead {
  display: none;
}

.hl-decoration {
  font-size: $font-hl;
  flex-basis: 100%;
  text-align: right;
}

.highlight {
  color: $color-highlight;
}

@media screen and (max-width: $max-width-s) {
  #deskhead {
    display: none;
  }

  #mobhead {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: $color-bg-light;
  }

}