@import "variables";

html {
  height: 100%;
  width: 100%;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  -webkit-font-smoothing: antialiased;
  color: $font-color-light;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: $color-bg;
  flex-wrap: wrap;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  min-height: 100%;
}

#progress.collapsed {
  display: none;
}

.collapsed {
  display: none;
}

#content {
  flex: 1 1 auto;
  border-right: 1px solid rgba(255,255,255,0.2);
  border-left: 1px solid rgba(255,255,255,0.2);
  max-width: 1080px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.txt-block {
  width: 100%;
}

#article-content {
  padding-left: 5%;
  padding-right: 5%;
}

a {
  text-decoration: none;
  color: $font-color-light;
}

#deskhead {
  padding-top: .5%;
  padding-bottom: .5%;
  flex: 0 1 auto;
  width: 100%;
  background-color: $color-bg-light;
  display: flex;
  justify-content: center;
  align-content: center;
}

.head-elem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

.head-wrap {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.head-wrap-right {
  justify-content: space-evenly;
}

.h-icon {
  margin: 10%;
}

.hl-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  align-content: center;
}

#mobhead {
  display: none;
}

.hl-decoration {
  font-size: $font-hl;
  flex-basis: 100%;
  text-align: right;
}

.highlight {
  color: $color-highlight;
}

#articles-list {
  display: flex;
  flex-wrap: wrap;
}

.res-hl {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid $font-color-light;
  line-height: 0.1em;
  
}

#resources {
  padding: 4%;
}


.res-link-wrap {
  margin-top: 2%;
  margin-left: 2%;
  width: 100%;
}

.res-link {
  color: $color-highlight;
  display: inline-block;
  width: 90%;
}

.audio-link {
  color: $color-highlight;
  text-decoration: underline;
  display: inline-block;
}

.res-hl span {
  padding:0 10px;
  background-color: $color-bg;
}

.article-list-elem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 2%;
}

.article-list-elem-thumbnail {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.article-list-elem-link {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.article-list-elem-txt {
  width: 40%;
}

.article-list-elem-title {
  font-size: $font-hl;
}

.rounded {
  border-radius: 5px;
}

#progress {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
}

footer {
  //flex: 0 1 25px;
  height: 25px;
  width: 100%;
  max-width: 1080px;
  border-right: 1px solid rgba(255,255,255,0.2);
  border-left: 1px solid rgba(255,255,255,0.2);
  text-align: center;
  font-size: $font-size-xs;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-link {
  text-decoration: underline;
}

.article-list-elem-btn {
  background: none;
  border-radius: 2px;
  width: 100px;
  padding: 6px 9px 5px;
  border: 1px solid $color-highlight;
  color: $color-highlight
}

.article-list-elem-btn:hover {
  background-color: $color-highlight;
  color: $font-color-light;
  cursor: pointer;
}

.sources {
  word-break: break-all;
  counter-reset: list;
  padding: 0;
}

.shrink {
  max-width: 60%;
}


.rotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sources > li {
  list-style: none;
}

.sources > li:before {
  content: "[" counter(list) "] ";
  counter-increment: list;
}

.img-subtxt {
  text-align: center;
}

.article-img {
  max-width: 100%;
}

.len-select:hover {
  cursor: pointer;
}

.selected-len {
  color: $color-highlight;
}

@media screen and (max-width: $max-width-s) {
  #deskhead {
    display: none;
  }

  #content {
    border: none;
  }

  #mobhead {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: $color-bg-light;
  }

  .article-list-elem-thumbnail {
    width: 100%;
  }

  .article-list-elem {
    background-color: $color-bg-light;
    max-width: 550px;
  }

  .article-list-elem-txt {
    width: 100%;
    padding: 5%;
  }

  .article-list-elem-title {
    margin: 0;
    font-size: $font-hl-sm;
  }

  .article-list-elem-img {
    width: 100%;
  }

  #articles-list {
    margin: 0;
    padding: 5%;
    display: flex;
    justify-content: center;
  }

  .article-list-elem-btn {
    display: none;
  }

  .article-list-elem-subtxt {
    margin-bottom: 0;
  }

  #article-content {
    border: none;;
  }

  #mobile-sidepanel {
    width: 400px;
    min-height: 100%;
    border-right: 1px solid rgba(255,255,255,0.2);
  }

  .cell {
    padding-top: 10%;
    padding-bottom: 10%;
    list-style: none;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: flex;
    height: 30px;
    justify-content: space-around;
    align-content: center;
  }

  .side-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell-div {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    text-align: left;
  }

  .mobile-icon {
    float: right;
    display: inline-block;
  }

  .sidepanel-cless {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #main {
    align-content: normal;
    align-items: normal;
  }

  .res-hl {
    font-size: $font-hl-sm;
  }
}

@media screen and (min-width: $max-width-s) {
  .notfirst-img {
    width: 100%;
  }

  #mobile-sidepanel {
    display: none;
  }

  .notfirst-title {
    font-size: $font-hl-sm;
  }

  .notfirst-thumbnail {
    width: 100%;
  }

  .notfirst-txt {
    width: 100%;
  }

  .notfirst-elem {
    width: 24%;
  }

  .notfirst-subtxt {
    display: none;
  }
}