@import "variables";

html {
  height: 100%;
  width: 100%;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  -webkit-font-smoothing: antialiased;
  color: $font-color-light;
}

body {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: $color-bg;
  flex-wrap: wrap;
}

#main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#content {
  max-width: 1080px;
  display: flex;
  width: 100%;
  justify-content: center;
}

a {
  text-decoration: none;
  color: $font-color-light;
}

#deskhead {
  height: 100px;
  width: 100%;
  background-color: $color-bg-light;
  display: flex;
  justify-content: center;
  align-content: center;
}

.head-elem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

.head-wrap {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.head-wrap-right {
  justify-content: space-evenly;
}

.h-icon {
  margin: 10%;
}

.hl-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  align-content: center;
}

#mobhead {
  display: none;
}

.hl-decoration {
  font-size: $font-hl;
  flex-basis: 100%;
  text-align: right;
}

.highlight {
  color: $color-highlight;
}

#articles-list {
  display: flex;
  flex-wrap: wrap;
}

.article-list-elem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 2%;
}

.article-list-elem-thumbnail {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.article-list-elem-link {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.article-list-elem-txt {
  width: 40%;
}

.article-list-elem-title {
  font-size: $font-hl;
}

.rounded {
  border-radius: 5px;
}

footer {
  width: 100%;
}

@media screen and (max-width: $max-width-s) {
  #deskhead {
    display: none;
  }

  #mobhead {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: $color-bg-light;
  }

}

@media screen and (min-width: $max-width-s) {
  .notfirst-img {
    width: 100%;
  }

  .notfirst-title {
    font-size: $font-hl-sm;
  }

  .notfirst-thumbnail {
    width: 100%;
  }

  .notfirst-txt {
    width: 100%;
  }

  .notfirst-elem {
    width: 24%;
  }

  .notfirst-subtxt {
    display: none;
  }
}