$color-bg: #444C56;
$color-bg-light: #545d68;
$color-highlight: #FF9900;

$font-family: Ubuntu,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
$font-size: 1.3em;
$font-hl: 1.8em;
$font-size-s: 0.8em;
$font-size-xs: 0.5em;
$font-color-light: #eee;
$font-weight: 300;

$max-width-s: 1080px;
$max-width: 1366px;