$color-bg: #444C56;
$color-bg-light: #545d68;
$color-highlight: #FF9900;

$font-color-a: rgba(255,255,255,0.6);
$font-color-b: rgba(255,255,255,0.8);
$font-color-c: rgba(255,255,255,1);

$font-family: 'Inter', sans-serif;
$font-size: 1.3em;
$font-hl: 1.8em;
$font-hl-sm : 1em;
$font-size-s: 0.8em;
$font-size-xs: 0.5em;
$font-color-light: #eee;
$font-weight: 300;

$max-width-s: 1080px;
$max-width: 1366px;