$color-bg: #545d68;
$color-bg-dark: #636e7b;

$font-family: Ubuntu,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
$font-size: 1.3em;
$font-size-s: 0.8em;
$font-size-xs: 0.5em;
$font-color-light: #eee;
$font-weight: 300;