<!DOCTYPE html>
<html lang="en">
<head>
    <title>JAKOB.WTF - Articles on Nutrition, Bitcoin and Psychology</title>
    <%= require('html-loader!./templates/meta.html').default %>
</head>
<body>
<div id="main">
    <%= require('html-loader!./templates/header.html').default %>
    <div id="content">
        <%= require('html-loader!./templates/sidepanel.html').default %>
        <div id="about-me">
            <img id="jakob" src="" alt="A picture of me">
            <div id="about-me-txt-de" class="about collapsed">
                <p>Hallo, ich bin Jakob!</p>
                <p>Ich bin ein Softwareentwickler aus Wien und interessiere mich für Ernährung, Gesundheit, Bitcoin, Pathopsychologie und das Unbewusste.</p>
                <p>Ich veröffentliche auf meiner Website Artikel, die ich über Dinge geschrieben habe, die ich sehr interessant fand. Ich führe auch eine Liste von Links zu Artikeln, Büchern und Podcast-Episoden, die mir gefallen haben.</p>
                <p>
                    Wenn du mit mir in Kontakt treten willst, kannst du mir auf <a class="highlight" href="https://twitter.com/JakobAbf">Twitter</a> eine Nachricht schreiben oder eine <a class="highlight" href="mailto:jakobabfalter@gmail.com">E-Mail</a> senden.
                    Gerne kannst du dir meine anderen Websites <a class="highlight" href="https://koreanbuilds.net">Koreanbuilds.net</a> und <a class="highlight" href="https://europeanbuilds.net">Europeanbuilds.net</a> ansehen.
                </p>
            </div>
            <div id="about-me-txt-en" class="about collapsed">
                <p>Hi, I am Jakob!</p>
                <p>I'm a Software Engineer from Vienna interested in Nutrition, Health, Bitcoin, Pathopsychology, and the Unconscious.</p>
                <p>On this website I am publishing Articles I have written about things I found very interesting. I also maintain a list of links to Articles, Books, and Podcast episodes that I liked.</p>
                <p>
                    If you want to contact me, feel free to DM me on <a class="highlight" href="https://twitter.com/JakobAbf">Twitter</a> or send me an <a class="highlight" href="mailto:jakobabfalter@gmail.com">email</a>.
                    You can also visit my other websites <a class="highlight" href="https://koreanbuilds.net">Koreanbuilds.net</a> and <a class="highlight" href="https://europeanbuilds.net">Europeanbuilds.net</a>.
                </p>
            </div>
            <div id="legal">
                <h2>Legal Information</h2>
                <p>Jakob Abfalter<br/>
                    84280 / LogoiX<br/>
                    Wasserburger Str. 50a<br/>
                    83395 Freilassing<br/>
                    Germany
                </p>
            </div>
        </div>
    </div>
    <%= require('html-loader!./templates/footer.html').default %>
</div>
</body>
</html>