<!DOCTYPE html>
<html lang="en">
<head>
  <title>JAKOB.WTF - Articles on Nutrition, Bitcoin and Psychology</title>
  <%= require('html-loader!./templates/meta.html').default %>
</head>
<body>
<div id="main">
  <%= require('html-loader!./templates/header.html').default %>
  <div id="content">
    <%= require('html-loader!./templates/sidepanel.html').default %>
    <div id="article-content">
      <h1 id="article-hl"></h1>
      <p id="article-date"></p>
      <p id="article-author"><span id="from-author"></span> <span id="author"></span></p>
      <p id="article-img"></p>
      <div id="article-txt"><div class="lds-ripple"><div></div><div></div></div></div>
      <div id="progress"><span id="percentage">0</span>%&nbsp;-&nbsp;<span id="time-left"></span >m&nbsp;<span id="reading-left"></span>&nbsp;<span id="reading-info"></span></div>
    </div>
  </div>
  <%= require('html-loader!./templates/footer.html').default %>
</div>
</body>
</html>