<!DOCTYPE html>
<html lang="en">
<head>
    <title>JAKOB.WTF - Articles on Nutrition, Bitcoin and Psychology</title>
    <%= require('html-loader!./templates/meta.html').default %>
</head>
<body>
<div id="main">
    <%= require('html-loader!./templates/header.html').default %>
    <div id="content">
        <%= require('html-loader!./templates/sidepanel.html').default %>
        <ul id="articles-list">
            <div class="lds-ripple"><div></div><div></div></div>
        </ul>
    </div>
    <%= require('html-loader!./templates/footer.html').default %>
</div>
</body>
</html>